.card {
  display: flex;
  gap: 24px;
  width: 888px;
  min-height: 358px;
  padding: 24px;
  margin-bottom: 32px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
}

.description {
  margin-bottom: 24px;
  max-width: 525px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.favoriteBtn {
  cursor: pointer;
  border: 0;
  background-color: #fff;
}
.iconHeart {
  fill: #fff;
  stroke: #000;
}

.iconHeartFavorited {
  fill: #e44848;
  stroke: none;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
}

.textThumb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.thumb {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.btn {
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background-color: var(--button-color);
  color: #fff;
  cursor: pointer;
  border: 0;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
