.logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  color: #475467;
}
.iconVan {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  stroke: #d84343;
}
