.modalBtn {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.iconCross {
  stroke: #000;
}

.imgThumb {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.imgItem {
  display: block;
  width: 290px;
  height: 310px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: #475467;
  /* outline: 1px solid red; */
}

.photo {
  position: absolute; /* Position the image absolutely inside the li */
  top: 0;
  left: 0;
  width: 100%; /* Make the image cover the width of the li */
  height: 100%; /* Make the image cover the height of the li */
  object-fit: cover; /* Ensure the image covers the li, cropping if necessary */
  object-position: center; /* Center the image within the li */
}

.description {
  margin-bottom: 44px;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: var(--text-color);
}

.tabsBtn {
  position: relative;
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-color);
  cursor: pointer;
  background-color: #fff;
  border: none;
}

.tabsBtn::after {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  display: block;
  width: 10%;
  height: 5px;
  color: red;
}

.tabs {
  display: flex;
  gap: 40px;
}

.contentThumb {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--main-color);
  margin-bottom: 10px;
}
.thumb {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--main-color);
  margin-bottom: 24px;
}
