.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  min-height: 20px;
  border-bottom: 1px solid #e2e5e8;
  /* box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05); */
}

footer {
  background-color: darkslategrey;
  font-size: 18px;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}
