.container {
  margin: 0 auto;
  padding: 0px 64px;
  max-width: 100%;
  width: 1200px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  padding: 10px;
  min-height: 20px;
  border-bottom: 1px solid #e2e5e8;
  /* box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05); */
}
