.features {
  width: 430px;
  min-height: 530px;
  margin-top: 44px;
}
.categoryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-width: 87px;
  border-radius: 100px;
  padding: 12px 18px;
  background-color: #f2f4f7;

  color: var(--main-title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: 0;
}

.uppercase::first-letter {
  text-transform: uppercase;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 8px;
  column-gap: 8px;
  margin-bottom: 44px;
}

.kitchen,
.automatic,
.beds {
  fill: #fff;
  stroke: #000;
}

.text {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.text::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 24px;
  background-color: rgba(16, 24, 40, 0.1);
}

.detailsItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.detailsItem:last-child {
  margin-bottom: 0;
}
.feture {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
}
