.hero {
  background-color: #475467;
  text-align: center;
  position: relative;
}
.heroOverlay {
  margin: 0 auto;
  max-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.6),
      rgba(47, 48, 58, 0.6)
    ),
    url('https://ftp.goit.study/img/campers-test-task/5-1.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heroTitle {
  max-width: 900px;
  margin: 0 auto 30px auto;
  padding-top: 200px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.text {
  max-width: 900px;
  text-align: justify;
  margin: auto;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 20px;
}

.heroBtn {
  border-radius: 200px;
  padding: 16px 24px;
  min-width: 173px;
  height: 56px;
  background-color: var(--button-color);
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  cursor: pointer;
}

.heroBtn:hover,
.heroBtn.focus {
  background-color: var(--redBtn-hover);
}
